[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pandas-profiling = "*"
ipywidgets = "*"
shap = "*"
astroid = "*"
jupyterlab = "*"
ipykernel = "*"
jupyter = "*"
meteostat = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.pycaret]
extras = [ "full",]
version = "*"
