[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imblearn = "==0.0"
jupyter = "==1.0.0"
jupyter-core = "==4.11.1"
matplotlib = "*"
numpy = "==1.19.5"
pandas = "*"
pandas-profiling = "*"
scikit-learn = "==0.23.2"
seaborn = "*"
shap = "==0.41.0"
folium = "*"
meteostat = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.pycaret]
extras = [ "full",]
version = "==2.3.10"
